<h3>Introducing the tools</h3>
<p>In this module, we'll be presenting the main tools used to organize open source code, and produce it collaboratively: forges (such as Gitlab or Github), and source control management (such as git).</p>
<p>If you are already familiar with these tools, you can <a href="/jump_to_id/chap-03-seq-06-ver-01">jump ahead to the activities</a> which will get us started on making concrete contributions to a project. Don't skip those though! They are simple steps, but ones we'll build upon in future sections to ramp up the size and scope of our contributions.</p>