<p>Present examples of relationships between the different roles:</p>
<ul data-sourcepos="74:3-79:0">
<li data-sourcepos="74:3-74:23">Listing of projects</li>
<li data-sourcepos="75:3-75:28">Listing of organizations</li>
<li data-sourcepos="76:3-76:24">Listing of companies</li>
<li data-sourcepos="77:3-77:42">Listing of maintainers and their roles</li>
<li data-sourcepos="78:3-79:0">etc.</li>
</ul>