<script lang="typescript">
  import {GridWrap, GridWrapModifier, GridColumn, GridColumnModifier} from '$lib/components/grid';
  import {Wrap, WrapModifier} from '$lib/components/wrap';
  import {Island} from '$lib/components/island';
  import {Button} from '$lib/components/button';
  import {urls} from '$lib/data/urls';

  import type {FragmentId} from '$lib/enums/fragment-ids';

  export let fragmentId: FragmentId;
  let submitted = false;

  const submitForm = () => {
    submitted = true;
    return true;
  };
</script>

<section id={fragmentId}>
  <Island>
    <Wrap modifiers={[WrapModifier.Small]}>
      <div class="u-text--center">
        <h3>Stay in touch.</h3>

        <p>
          We are still building the course but would love to keep you updated on our progress!
          Please add your email address so we can keep in touch.
        </p>
	<form action={urls.mailingList}>
          <Button type="submit">Join</Button>
	</form>
      </div>
    </Wrap>
  </Island>
</section>
