/*------------------------------------*\
    BORDER RADIUS UTILITIES
\*------------------------------------*/
@mixin u-border-radius-max() {
  border-radius: 50%;
}

@mixin u-border-radius($border-radius: 4px) {
  border-radius: $border-radius;
}
