/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items towards the inset-inline-end by certain amounts.
 */

@mixin grid__item-push-generate($namespace: '', $base-classname: $grid-wrap-item-classname) {
  /**
   * Not a particularly great selector, but the DRYest way to do things.
   */
  [class*='#{$base-classname}--push-'] {
    position: relative;
  }

  /**
   * Whole
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}1 {
    inset-inline-start: 100%;
  }

  /**
   * Halves
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2 {
    inset-inline-start: 50%;
  }

  /**
   * Thirds
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}3 {
    inset-inline-start: 33.333%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}3 {
    inset-inline-start: 66.666%;
  }

  /**
   * Quarters
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}4 {
    inset-inline-start: 25%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}4 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}4 {
    inset-inline-start: 75%;
  }

  /**
   * Fifths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}5 {
    inset-inline-start: 20%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}5 {
    inset-inline-start: 40%;
  }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}5 {
    inset-inline-start: 60%;
  }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}5 {
    inset-inline-start: 80%;
  }

  /**
   * Sixths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}6 {
    inset-inline-start: 16.666%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}6 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}6 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}6 {
    @extend .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}6 {
    inset-inline-start: 83.333%;
  }

  /**
   * Eighths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}8 {
    inset-inline-start: 12.5%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}8 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}8 {
    inset-inline-start: 37.5%;
  }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}8 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}8 {
    inset-inline-start: 62.5%;
  }
  .#{$base-classname}--push-#{$namespace}6#{$grid-item-unit-delimiter}8 {
    @extend .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--push-#{$namespace}7#{$grid-item-unit-delimiter}8 {
    inset-inline-start: 87.5%;
  }

  /**
   * Tenths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}10 {
    inset-inline-start: 10%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}10 {
    inset-inline-start: 30%;
  }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--push-#{$namespace}6#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--push-#{$namespace}7#{$grid-item-unit-delimiter}10 {
    inset-inline-start: 70%;
  }
  .#{$base-classname}--push-#{$namespace}8#{$grid-item-unit-delimiter}10 {
    @extend .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}5;
  }
  .#{$base-classname}--push-#{$namespace}9#{$grid-item-unit-delimiter}10 {
    inset-inline-start: 90%;
  }

  /**
   * Twelfths
   */
  .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}12 {
    inset-inline-start: 8.333%;
  }
  .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}6;
  }
  .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--push-#{$namespace}4#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}12 {
    inset-inline-start: 41.666%;
  }
  .#{$base-classname}--push-#{$namespace}6#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}1#{$grid-item-unit-delimiter}2;
  }
  .#{$base-classname}--push-#{$namespace}7#{$grid-item-unit-delimiter}12 {
    inset-inline-start: 58.333%;
  }
  .#{$base-classname}--push-#{$namespace}8#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}2#{$grid-item-unit-delimiter}3;
  }
  .#{$base-classname}--push-#{$namespace}9#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}3#{$grid-item-unit-delimiter}4;
  }
  .#{$base-classname}--push-#{$namespace}10#{$grid-item-unit-delimiter}12 {
    @extend .#{$base-classname}--push-#{$namespace}5#{$grid-item-unit-delimiter}6;
  }
  .#{$base-classname}--push-#{$namespace}11#{$grid-item-unit-delimiter}12 {
    inset-inline-start: 91.666%;
  }
}

@mixin grid__item-push-global {
  @include grid__item-push-generate();
}

@mixin grid__item-push-palm {
  @include media-query(palm) {
    @include grid__item-push-generate('palm-');
  }
}

@mixin grid__item-push-lap {
  @include media-query(lap) {
    @include grid__item-push-generate('lap-');
  }
}

@mixin grid__item-push-lap-and-up {
  @include media-query(lap-and-up) {
    @include grid__item-push-generate('lap-and-up-');
  }
}

@mixin grid__item-push-portable {
  @include media-query(portable) {
    @include grid__item-push-generate('portable-');
  }
}

@mixin grid__item-push-desk {
  @include media-query(desk) {
    @include grid__item-push-generate('desk-');
  }
}

@mixin grid__item-push-desk-wide {
  @include media-query(desk-wide) {
    @include grid__item-push-generate('desk-wide-');
  }
}
