/*------------------------------------*\
    BANNER
\*------------------------------------*/
.banner {
  display: flex;
  flex-direction: column;
}

  .banner__content {
    flex: 1;
  }

    .banner__title {
      --font-size-max: #{px-to-rem($fs-giga)};
      --font-size-min: #{px-to-rem($fs-h3)};
      font-size: clamp(var(--font-size-min), 16vw, var(--font-size-max));
      padding-top: 6rem;

      @include media-query(portable) {
        padding-top: 6rem;
      }
      @include media-query(palm) {
        padding-top: 4rem;
      }
    }

    .banner__sub-title {
      font-size: px-to-rem($fs-h6);
    }
