/*------------------------------------*\
    GRID
\*------------------------------------*/
/**
 * Grid wraps
 */
@include grid-wrap;
@include grid-wrap--middle;
@include grid-wrap--center;
@include grid-wrap--block-end;

@include create-grid-wrap-modifier(larger) {
  margin-inline-start: px-to-rem(-124px);

  & > %grid__item {
    padding-inline-start: px-to-rem(124px);
  }
}


@include create-grid-wrap-modifier(large) {
  margin-inline-start: px-to-rem(-44px);

  & > %grid__item {
    padding-inline-start: px-to-rem(44px);
  }
}

@include create-grid-wrap-modifier(small) {
  margin-inline-start: px-to-rem(-20px);

  & > %grid__item {
    padding-inline-start: px-to-rem(20px);
  }
}

@include create-grid-wrap-modifier(smaller) {
  margin-inline-start: px-to-rem(-10px);

  & > %grid__item {
    padding-inline-start: px-to-rem(10px);
  }
}


//@include grid-wrap--no-gutter;
//@include grid-wrap--reverse;
//@include grid-wrap--inline-end;

/**
 * Grid column widths
 */
@include grid__item;
@include grid__item-widths-global;
@include grid__item-widths-palm;
@include grid__item-widths-lap;
@include grid__item-widths-portable;
//@include grid__item-widths-lap-and-up;
//@include grid__item-widths-desk;
//@include grid__item-widths-desk-wide;

/**
 * Grid column modifiers
 */
@include grid__item--auto;
@include grid__item--shrink-wrap;
@include grid__item--tall;

@include create-grid-col-modifier(auto--desk) {
  @include media-query(desk) {
    @if $use-legacy-grid {
      .oldie & {
        display: table-cell;
      }
    }

    @if $use-flexbox-grid {
      flex: 1;
    }
  }
}

@include create-grid-col-modifier('shrink-wrap--desk') {
  @include media-query(desk) {
    width: auto;

    @if $use-legacy-grid {
      .oldie & {
        display: table-cell;
      }
    }
  }
}


/**
 * Grid column push
 */
//@include grid__item-push-global;
//@include grid__item-push-palm;
//@include grid__item-push-lap;
//@include grid__item-push-portable;
//@include grid__item-push-lap-and-up;
@include grid__item-push-desk;
//@include grid__item-push-desk-wide;

/**
 * Grid column pull
 */
//@include grid__item-pull-global;
//@include grid__item-pull-palm;
//@include grid__item-pull-lap;
//@include grid__item-pull-portable;
//@include grid__item-pull-lap-and-up;
//@include grid__item-pull-desk;
//@include grid__item-pull-desk-wide;
