/*------------------------------------*\
		ISLANDS
\*------------------------------------*/
.island { @include island;}
.island--start { @include island--start;}
.island--end { @include island--end;}

//.island--small { @include island--small;}
//.island--small--start { @include island--small--start;}
//.island--small--end { @include island--small--end;}

.island--smaller { @include island--smaller;}
.island--smaller--start { @include island--smaller--start;}
.island--smaller--end { @include island--smaller--end;}

.island--smallest { @include island--smallest;}
.island--smallest--start {
    @include island--smallest--start;

    @include media-query(palm) {
        padding-block-start: 1rem;
    }
}
.island--smallest--end { @include island--smallest--end;}


/*------------------------------------*\
  RESPONSIVE ISLAND CLASSES
\*------------------------------------*/

.island--smaller--start--desk {
  @include media-query(desk) {
    @include island--smaller--start;
  }
}

.island--smaller--start--palm {
  @include media-query(palm) {
    @include island--smaller--start;
  }
}

.island--smallest--palm {
  @include media-query(palm) {
    @include island--smallest;
  }
}
.island--smallest--start--palm {
  @include media-query(palm) {
    @include island--smallest--start;
  }
}
