<script lang="typescript">
  import {Carousel, CarouselSlide} from '$lib/components/carousel';
  import {assets} from '$app/paths';

  import {partners} from '$lib/data/partners';

  const resolve = (basepath: string) => (filename: string) => `${assets}/${basepath}/${filename}`;
  const resolvePartnerLogo = resolve('img/partners');

  const logos = Object.keys(partners)
    .map((key) => partners[key])
    .filter(({logo}) => Boolean(logo))
    .map((partner) => ({
      ...partner,
      src: resolvePartnerLogo(partner.logo),
      alt: `${partner.name} logo`,
    }));
</script>

<div class="partners-carousel">
  <Carousel>
    {#each logos as {src, url, alt}, i (i)}
      <CarouselSlide>
        <div class="partners-carousel__item">
          <a href={url}>
            <img {src} {alt} />
          </a>
        </div>
      </CarouselSlide>
    {/each}
  </Carousel>
</div>
